<div>
  <h3>{{ playlist.name }}</h3>
  <table class="table" ng-show="playlist.songs.length">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Artists</th>
        <th>Genres</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in playlist.songs" ng-class="{active: song === getCurrentSong()}">
        <td>
          <button class="btn btn-default btn-xs" ng-click="toggle(song)">
            <span class="glyphicon" ng-class="{ 'glyphicon-pause': isPlaying(song), 'glyphicon-play': !isPlaying(song) }"></span>
          </button>
        </td>
        <td>{{ song.name }}</td>
        <td><span ng-repeat="artist in song.artists">{{ artist.name }}{{ $last ? '' : ', ' }}</span></td>
        <td>{{ song.genres.join(', ') }}</td>
      </tr>
    </tbody>
  </table>
  <small ng-hide="playlist.songs.length">No songs.</small>
  <hr>

  <h3>Add songs to playlist</h3>
    <form name="songsForm" novalidate>
      <div class="form-group">
        <label for="name">Song</label>
        <select name="songOptions" ng-options="song as song.name for song in allSongs" ng-model="songToAdd" class="form-control" required></select>
      </div>
      <div class="form-group">
        <button class="btn btn-success" ng-disabled="!songToAdd" type="submit" ng-click="addSong(playlist._id, songToAdd)">Add song</button>
      </div>
    </form>
</div>









